@keyframes color {
  0%   { background: #0011ff; }
  20%  { background: #ff0000; }
  40%  { background: #00ff11; }
  60%  { background: #fff700; }
  80%  { background: #d400ff; }
  100% { background: #00d5ff; }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}